body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #39a53c;
    text-align: center;
}

p {
    font-size: 1.1em;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ul li {
    margin: 5px 0;
}

ul li a {
    color: #4CAF50;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

img {
    display: block;
    margin: 20px auto;
    width: 100px;
}
img {
    width: 300px;
    height: auto;
    display: block;
    margin: 20px auto; 
}
